// ========================================= //
// breakpoints
// ========================================= //

// fundation
$small                  : 640px !default;        //640px
$xmedium                : 840px !default;      //840px
$medium                 : 1024px !default;        //1024px
$large                  : 1440px !default;        //1440px

// chrome inspector
$mobileS                : 320px !default;        //320px
$mobileM                : 375px !default;   //375px
$mobileL                : 425px !default;   //425px
$tablet                 : 768px !default;        //768px

// customs
$xsmall                 : 420px !default;     //420px
$mobileXl               : 500px !default;     //500px
$tabletS                : 580px !default;     //580px
$tooltip--xlarge        : 1500px !default      //1500px
$desktopXxL             : 2000px !default        //2000px
$desktop                : 1200px !default         //1200px
$desktopL               : 1300px !default      //1300px
$desktopXL              : 1600px !default        //1600px
